---
import BaseLayout from '@layouts/BaseLayout.astro';
import Presentation from '@components/Presentation.astro';
import AboutMe from '@components/AboutMe.astro';
import Contact from '@components/Contact.astro';
---

<BaseLayout>
    <section class="min-h-screen grid grid-cols-1 lg:grid-cols-2">
        <Presentation />
        <AboutMe />
    </section>
    <Contact />
</BaseLayout>
