---
const currentPath = Astro.url.pathname;
---

<nav class="fixed top-0 left-0 w-full bg-white border-b border-light shadow-sm">
    <div class="max-w-6xl mx-auto px-4 py-3 flex justify-center items-center">
        <ul class="flex space-x-6 text-dark font-medium text-2xl">
            <li>
                <a
                    href="/"
                    class={`transition hover:text-primary-400 ${currentPath === '/' ? 'text-primary-500 font-bold' : ''}`}
                >
                    Inicio
                </a>
            </li>
            <li>
                <a
                    href="/projects"
                    class={`transition hover:text-primary-400 ${currentPath === '/projects' ? 'text-primary-500 font-bold' : ''}`}
                >
                    Proyectos
                </a>
            </li>
            <li>
                <a
                    href="/#contact"
                    class="transition hover:text-primary-400"
                >
                    Contacto
                </a>
            </li>
        </ul>
    </div>
</nav>
