---
const { title = 'Proyectos', subtitle = '', children } = Astro.props;
---

<section class="w-full px-8 py-16 text-dark">
    <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl font-bold text-primary-600 mb-4">{title}</h2>

        {subtitle && <p class="text-lg mb-8">{subtitle}</p>}

        <div class="grid gap-8 md:grid-cols-2 xl:grid-cols-3">
            <slot />
        </div>
    </div>
</section>
